* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  overflow: hidden;
  width: 100vw;
}
#root,
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.column {
  display: flex;
  flex: 1;
  padding: 10px 1em;
  flex-direction: column;
}
textarea {
  flex: 1;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  background-color: #eee;
}
.editor {
  background-color: #eee;
}
